@font-face {
font-family: 'font6c07d8254792cf61040b5e8231e625de';
    
    src:    url('https://nomail.com.ua/files/eot/6c07d8254792cf61040b5e8231e625de.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/6c07d8254792cf61040b5e8231e625de.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/6c07d8254792cf61040b5e8231e625de.woff2') format('woff2');
}

@font-face { 
	font-family: 'MrsEavesOT-Italic'; 
	src: local('MrsEavesOT-Italic'), url('https://nomail.com.ua/files/woff/6c07d8254792cf61040b5e8231e625de.woff') format('woff'); 
}

@font-face {
font-family: 'Univers 45 Light Oblique';
src: url('UniversLTStd-LightObl.eot');
src: url('UniversLTStd-LightObl.eot?#iefix') format('embedded-opentype'),
url('UniversLTStd-LightObl.woff') format('woff'),
url('UniversLTStd-LightObl.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
	font-family: "SegoeUISemiBold";
	src: url("font/SegoeUI-SemiBold.woff") format('woff');
}


@font-face{
	font-family: "segoeWPLight";
	src:url("font/SegoeUI-Light.woff") format('woff');
}

* {
    margin: 0;
    padding: 0;
   }
body{
    height: 100%;
}
#wrapper{
	width: 100%;
	overflow: hidden;
	position: relative;
}

.wrap{
	max-width: 1024px;
	margin: 0 auto;
	padding:0 20px;
}

.wrap:after{
	content: "";
	clear: both;
	display: table;
}

.header{
	background: url('img/bg.png') no-repeat;
	background-size: 100%;
	height:488px;
	width: 100%;
	margin-bottom: 100px;
	
}
.caption{
	font-family: 'MrsEavesOT-Italic';
	font-size: 6em;
	color: #b7bbbc;

	
	width: 300px;

}

.menu{}

.menu .header-menu{
	position: relative;
	left: 49.06%;
	bottom: 95px;
}

.menu .header-menu li{
	display: inline-block;
	
	padding-right: 52px;
	
}

.menu .header-menu li:nth-child(4){
	padding-right: 20px;
}

.menu .header-menu li:last-child{
	padding-right: 0px;
}

.menu .menuToggle{
	display: none;
	font-size: 1.5em;
	color: #becacd;
	cursor: pointer;
	height: 20px;
	width: 20px;
	float: right;
	margin: 20px 20px 0 0;
}
.menu .header-menu li a{
	font-size: 1.01em;
	font-family: "segoeWPLight";
	color: #fff;
}
.menu .header-menu li a:hover{
	text-decoration: none;
	color: #becacd;
}

.header-slider{
	max-width: 800px;
	position: relative;
}
.header-slider .coffee-block{
	background: url('img/coffee.png') no-repeat;
	height: 348px;
	width: 348px;
	background-size: 100%;
	float: left;
}
.header-slider .slider-text{
	width: 340px;
	float: right;
	
}
.header-slider .prev-button{
	float: left;
	margin-top: 111px;
	margin-right: 6.24%;
	background: url("img/prev-button.png") no-repeat;
	height: 50px;
	width:50px;
	border: none;
}
.header-slider .next-button{
	float: right;
	margin-top: -237px;
	margin-right: -16.875%;
	background: url("img/next-button.png") no-repeat;
	height: 50px;
	width:50px;
	border: none;
}

.slider-text{
	padding-top:57px;
}

.slider-text h1{
	font-size: 2.875em;
	color:#fff;
	font-family: SegoeUISemiBold;
	line-height: 20px;

}
.slider-text p{
	font-size: 2.0625em;
	color:#fff;
	font-family:segoeWPLight;
}
.slider-text button{
	background: #185e3d;
	opacity: 1; /* Полупрозрачный фон */
    filter: alpha(Opacity=70); /* Прозрачность в IE */
    color:#fff;
    border: none;
    font-family:segoeWPLight;
    font-size:1em;
    width: 138px;
    height: 38px;
    margin-bottom: 37px;
    box-shadow: 
     0 0 0 4px rgba(0, 0, 0, .2);
}
.tab-content-block{
	margin-bottom: 30px;
	
}
.tab-content-block .tab-menu{
	list-style-type: none;
	display: flex;
	position: relative;
	top:15px;
	/*overflow: hidden;*/
}

.tab-content-block .tab-menu li{
	display: inline-block;
	padding:55px 0 30px 0;
	/*padding-right: 68px;*/
	flex:25%;
}

.tab-menu li.active{
	box-shadow: 
   2px 0 6px -4px rgba(221, 221, 221, 1),
    -2px 0 6px -4px rgba(221, 221, 221, 1),
    0px 0px 0px 0px rgba(221, 221, 221, 1),
    -2px 2px 6px -4px rgba(221, 221, 221, 1);
	border: 1px  solid #dedede;
	border-bottom: none; 
	 position: relative;
}
.tab-menu li.active:after{
	content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  height: 10px;
  margin-bottom: -5px;
}
.tab-menu li.active h3{
	font-weight: bold;
	color: #5f5f5f;
}
.tab-menu li h3{
	font-family:segoeWPLight;
	font-size: 1.1875em;
	color: #676666;
	text-align: center;
	
}
.item-block{
	width: 134px;
	height: 78px;
	background: #6598e6;
	position: relative;
	border-radius: 4px;
	margin: 0 0 62px 70px;
}
.item-block:before,
.item-block:after{
	content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    border-left: 67px solid transparent;
    border-right: 67px solid transparent;
}
.item-block:before{
	top:-39px;
	border-bottom: 39px solid  #6598e6;
	border-radius: 4px;
}
.item-block:after {
    bottom: -39px;
    border-top: 39px solid  #6598e6;
    border-radius: 4px;
}
/*2*/
.item-block-2{
	background: #fdcf0a;
}
.item-block-2:before{
	top:-39px;
	border-bottom: 39px solid  #fdcf0a;
}
.item-block-2:after {
    bottom: -39px;
    border-top: 39px solid  #fdcf0a;
}
/*3*/
.item-block-3{
	background: #12b367;
}
.item-block-3:before{
	top:-39px;
	border-bottom: 39px solid  #12b367;
}
.item-block-3:after {
    bottom: -39px;
    border-top: 39px solid  #12b367;
}
/*4*/
.item-block-4{
	background: #e67624;
}
.item-block-4:before{
	top:-39px;
	border-bottom: 39px solid  #e67624;
}
.item-block-4:after {
    bottom: -39px;
    border-top: 39px solid  #e67624;
}

.item-icon{
	display: block;
	
}
.item-icon-1{
	background: url("img/mobile.png") no-repeat;
	background-size: 100%;
	height: 77px;
	width: 53px;

	margin: 20px 0 0 40px;
}
.item-icon-2{
	background: url("img/cart.png") no-repeat;
	background-size: 100%;
	height: 71px;
	width: 64px;
	margin: 20px 0 0 35px;
}
.item-icon-3{
	background: url("img/world.png") no-repeat;
	background-size: 100%;
	height: 75px;
	width: 75px;
	margin: 20px 0 0 30px;
}
.item-icon-4{
	background: url("img/search.png") no-repeat;
	background-size: 100%;
	height: 74px;
	width: 72px;
	margin: 20px 0 0 30px;
}

.tab-content-block{
}
.tab-content{
	/*box-shadow: 0  4px 10px rgba(0,0,0,0.5);*/
	margin: 10px auto;
	
	overflow: hidden;
	height: 783px;
}
.tab-content>div{
	box-shadow: 
   2px 0 6px -4px rgba(221, 221, 221, 1),
    -2px 0 6px -4px rgba(221, 221, 221, 1),
    2px 2px 6px -4px rgba(221, 221, 221, 1),
    -2px 2px 6px -4px rgba(221, 221, 221, 1);
	border: 1px  solid #dedede;
	padding:15px 0 70px 0;
}

.tab-content .comp{
	background: url("img/iphone.png") no-repeat;
	height: 329px;
	width: 732px;
	box-shadow:none;
	border: none;
	margin: 0 0 40px 57px;
}



.tab-content>div h1{
	margin: 0 0 40px 57px;
	font-family:segoeWPLight;
	font-size: 1.75em;
	color: #4f4f4f;
	padding-bottom: 20px; 
}

.tab-content>div p{
	margin-left: 57px;
	color: #818181;
	font-family: 'Univers 45 Light Oblique';
	font-size:0.9em;
	width: 85.44%
}

.info-block{
	overflow: hidden;
	padding-bottom: 73px;
	margin-bottom: 22px;
	border-bottom: 1px solid #e5e5e5;
}
.img-block{
	background: url("img/img-block.png") no-repeat;
	height: 314px;
	width: 452px;
	float: left;
	box-shadow:0 0 10px 5px rgba(221, 221, 221, 1);
	border-radius: 7px;
}
.block-text{
	float: right;
}
.block-text h3{
	font-family:segoeWPLight;
	font-size: 1.4375em;
	color: #4f4f4f;
	margin:0 0 23px 15px;
}
.block-text ul{
	list-style-image: url("img/marker.png");
}
.block-text ul li{
	color: #8a8888;
	font-family: 'Univers 45 Light Oblique';
	font-size: 0.75em;
	margin-bottom: 23px;
}
.contact-us{
	overflow: hidden;
	padding-bottom: 35px;
}

.log-in-block{
	background: #e67624;
	border-radius: 7px;
	padding-bottom: 10px;
	float: left;
	width: 45.80%;
}

.log-in-block input{
	display: inline-block;
}
.log-in-block h3{
	font-size: 1.25em;
	font-family: segoeWPLight;
	color: #fff;
	margin-left: 10px;
	padding: 16px 0 16px 0;
}
#usr{
	color: #595959;
	background: #e8e8e8;
	font-family: segoeWPLight;
	border:none;
	padding-left: 12px;
	margin-left: 10px;
	width: 33.04%;
}

#pwd{
	color: #595959;
	background: #e8e8e8;
	font-family: segoeWPLight;
	border:none;
	padding-left: 12px;
	margin-left: 10px;
	width: 31.98%;
}
.btn-login{
	background: #444444;
	border-radius: 0px;
	color: #fff;
	font-family: segoeWPLight;
	margin-left: 20px;
	border:none;
	padding:5px 10px;
}

.subscribe-block{
	background:#01d4f3;
	border-radius: 7px;
	margin-left: 30px;
	float: right;
	width: 45.89%;
	padding-bottom: 10px;
}

.subscribe-block h3{
	font-size: 1.25em;
	font-family: segoeWPLight;
	color: #fff;
	margin-left: 10px;
	padding: 16px 0 16px 0;
	
}
#email{
	background: #e8e8e8;
	color: #595959;
	font-family: segoeWPLight;
	border:none;
	padding-left:12px;
	position: relative;
	margin-left:10px;
	width: 56.17%;
}
.btn-subscribe{
	background:#029bb1;
	border-radius: 0px;
	color: #fff;
	font-family: segoeWPLight;
	position: relative;
	border: none;
	padding:5px 10px;
	opacity: 1;
	margin-left: 80px;

}
.footer{
	background: #2e2d29;
	padding: 34px 0 51px 0;
}

.center{
	display: inline-block;
	padding-right:70px;
}

.contact-block{

}

.contact-block h3{
	font-family: segoeWPLight;
	color: #fff;
	font-size:1em;
	text-align: center;
}

.contact-block ul{
	list-style-type: none;
}
.contact-block ul li{
	text-decoration: none;
}

.contact-block ul li a{
	color: #989796;
	font-family: Arial, sans-sarif;
	font-size:0.625em;
}

.footer-slider{
	position: relative;
	bottom:10px;
}

.footer-slider>div{
	width: 315px;
}

.footer-slider>div h3{
	color:#fff;
	font-size: 1em;
	font-family: segoeWPLight;
}
.footer-slider>div p{
	font-size: 0.67em;
	font-family: Arial, sans-sarif;
}
.prev-btn{
	background: url("img/prev-btn.png") no-repeat;
	background-size: 100%;
	width: 16px;
	height: 16px;
	border:none;
	left:167px;
	top: 22px;
	position: relative;
}

.next-btn{
	background: url("img/next-btn.png") no-repeat;
	background-size: 100%;
	width: 16px;
	height: 16px;
	border:none;
	bottom:141px;
	left:187px;
	position: relative;
}

.first-text{
	color: #acaaab;
	width: 315px;
}

.second-text{
	color: #c8c8c8;
	font-weight: bold;
	width: 144px;
}

.footer-logo{
	position: relative;
	bottom: 38px;
}

.footer-logo h1{
	font-family: 'MrsEavesOT-Italic';
	font-size: 6em;
	color: #595b55;
}
.footer-logo p{
	color: #fff;
	font-family: Arial, sans-sarif;
	font-size: 0.67em;
}

@media screen and (max-width: 1024px) {
	.header-slider{
		bottom: 30px;
	}
}

@media screen and (max-width: 768px){

	.caption{
		font-size: 4em;
	}
	.header{
		margin-bottom: 50px;
		height: 340px;
	}
	.menu .header-menu{
        display: none;
        position:absolute;
        z-index: 200;
        background: #000;
        top: 80px;
        width: 100%;
        height: 200px;
        left: 0;

	}
	.menu .header-menu li{
		display: block;
		padding:10px 0;
	}
	.menu .header-menu li a{
		text-align: center;
	}
	.menu .menuToggle{
		display: block;
	}
	.header-slider{
		position: static;
		margin:0px 50px 0 0px;
		
	}

	.header-slider .coffee-block{
		height: 250px;
		width: 250px;
		background-size: 100%;
		margin-left: 55px;
		position: static;
	}
	.header-slider .slider-text{
		margin:0 50px 0px 0px;
		width: 200px;
		padding-top: 20px;
	}
	.slider-text h1{
		font-size: 2em;
	}
	.slider-text p{
		font-size: 1.5em;
	}
	
	.slider-text button{
		font-size: 0.8em;
	}

	.slider-text .prev-btn{
		margin:0 20px 0 0;
		
	}

	.header-slider .next-button{
		margin: -150px 0 0 90%;
	}
	.tab-content-block .tab-menu li{
		padding:30px 0 0px 0;
	}
	.item-block{
		margin: 0 0 40px 20px;
	}
	.tab-content{
		height: 793px;
	}

	.tab-content .comp {
		margin: 0;
	}
	.img-block{
		float: none;
		margin-bottom: 15px;
	}
	.block-text{
		float: none;
		margin-left: 20px;
	}
	.log-in-block {
		width: 100%;
		float: none;
		margin-bottom: 15px;
	}
	.subscribe-block{
		width: 100%;
		float: none;
		margin-left: 0;
	}
	.footer-logo{
		bottom: 0;
	}
}

@media screen and (max-width: 480px){
	.header{
		background-size: auto;
		height: 400px;
	}
	.header-slider {
		width: 100%;
		margin-left: 0px;
	}
	.header-slider .coffee-block{
		height: 150px;
		width: 150px;
		background-size: 100%;
		float: none;
	}
	.header-slider  .slider-text{
		float: none;
		margin: 0 0 0 50px;
	}

	.header-slider .next-button{
		margin:-210px 0 0px 0;
	}

	.item-block{
		width: 70px;
		height: 45px;
		background: #6598e6;
		position: relative;
		border-radius: 0px;
	}
	.item-block:before,
	.item-block:after{
		content: "";
	    width: 0;
	    height: 0;
	    position: absolute;
	    left: 0;
	    border-left: 35px solid transparent;
	    border-right: 35px solid transparent;
	}
	.item-block:before{
		top:-20px;
		border-bottom: 20px solid  #6598e6;
	}
	.item-block:after {
	    bottom: -20px;
	    border-top: 20px solid  #6598e6;
	}
	/*2*/
	.item-block-2{
		background: #fdcf0a;
	}
	.item-block-2:before{
		top:-20px;
		border-bottom: 20px solid  #fdcf0a;
	}
	.item-block-2:after {
	    bottom: -20px;
	    border-top: 20px solid  #fdcf0a;
	}
	/*3*/
	.item-block-3{
		background: #12b367;
	}
	.item-block-3:before{
		top:-20px;
		border-bottom: 20px solid  #12b367;
	}
	.item-block-3:after {
	    bottom: -20px;
	    border-top: 20px solid  #12b367;
	}
	/*4*/
	.item-block-4{
		background: #e67624;
	}
	.item-block-4:before{
		top:-20px;
		border-bottom: 20px solid  #e67624;
	}
	.item-block-4:after {
	    bottom: -20px;
	    border-top: 20px solid  #e67624;
	}

	.item-icon{
		
	}

	.item-icon-1{
		background-size: 100%;
		height: 30px;
		width: 20px;
		margin: 20px 0 0px 20px;
	}
	.item-icon-2{
		background-size: 100%;
		height: 35px;
		width: 25px;
		
	}

	.item-icon-3{
		background-size: 100%;
		height: 35px;
		width: 35px;
		
	}
	
	.item-icon-4{
		background-size: 100%;
		height: 35px;
		width: 25px;
		
	}

	.tab-content{
		overflow: initial;
	}

	.tab-content .comp {
		width: 400px;
		height: 200px;
		background-size: contain;
	}

	.tab-content>div h1{
		font-size: 1.5em;
		margin: 0 0 0 50px;
	}
	.tab-content>div p{
		font-size: 0.75em;
	}
	
}

@media screen and (max-width: 320px){
	.header-slider{
		max-width: 300px;
	}

	.tab-content-block{
		margin-bottom: 30px;
	}

	.img-block{
		width: auto;
		background-size: cover;
	}

	.btn-login {
		margin: 10px 0px 0 70px;
	}
	.btn-subscribe {
		margin-left: 10px;
	}
	.first-text{
		width: 280px;
	}
	.next-btn{
		bottom:157px;
	}
}